.modal-header
    h3.modal-title Edit the customer
.modal-body
    .center-block Are you sure want to delete the customer?

.modal-footer
    button.btn.btn-primary(ng-click='confirmDeletion()') OK
    button.btn.btn-warning(ng-click='cancel()') Cancel


