div(ng-include='"components/navbar/navbar.html"')

.container
	h1 Fill form below to create a new customer	
	form(ng-submit="createCustomer(customerFields)").form-horizontal
		div(ng-repeat="field in customerFields").form-group
			label(for="customer-{{field.title | lowercase}}") {{field.title}}:
			div(ng-if="field.title == 'Phone'")
				p Please use this format <kbd>x-xxx-xxx-xxxx</kbd>
				input(type="{{field.type}}" ng-model="field.value" value="" id="customer-{{field.title | lowercase}}" pattern="{{field.pattern}}" placeholder="Add a customer's {{field.title | lowercase}}" required).form-control
			input( type="{{field.type}}" ng-model="field.value" ng-if="field.title !== 'Sex' && field.title !== 'Zip' && field.title !== 'Phone'" value="" id="customer-{{field.title | lowercase}}" placeholder="Add a customer's {{field.title | lowercase}}" required).form-control
			div(ng-if="field.title == 'Zip'")
				input(type="{{field.type}}" ng-model="field.value" value="" id="customer-{{field.title | lowercase}}" pattern="{{field.pattern}}" placeholder="Add a customer's {{field.title | lowercase}}" required).form-control		
			div(ng-if="field.title == 'Sex'")
				div.radio
					label Male
						input( type="{{field.type}}" ng-model="field.value" value="men" checked)
				div.radio
					label Female
						input( type="{{field.type}}" ng-model="field.value" value="women" )

		button.btn.btn-primary Save
		
div(ng-include='"components/footer/footer.html"')
